.contact-card {
  border-radius: 10px;
  padding: 10px 10px 5px;
  word-break: break-all;
  background-color: white;
}

.info {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  gap: 10px !important;
}

.avtar {
  width: 40px;
  border-radius: 50%;
}

.data,
.d {
  color: black;
  font-size: 18px;
}

.name-input,
.email-input,
.number-input {
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px 5px;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block;
  width: 90%;
}

a {
  text-decoration: none !important;
}

.div-icon {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 2px;
}

.update-icon,
.save-icon,
.del-icon {
  display: inline-block;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.update-icon {
  padding: 4px;
  background-color: #60c011;
}

.del-icon {
  padding: 3px;
  background-color: red;
}

.save-icon {
  padding: 3px;
  background-color: yellow;
}

@media screen and (min-width: 350px) {
  .info {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px !important;
  }
}
