.window {
  background-color: rgb(221, 212, 212);
  height: 100vh;
}

#add-contact-btn {
  color: white;
  background-color: blue;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid blue;
  border-radius: 10px;
  float: right;
  margin: 5px 10px;
}

.container {
  margin-top: 10px;
  padding: 10px;
}

.div1 {
  overflow: auto;
  display: flex;
  gap: 10px;
}

#in {
  padding: 5px;
}

#search {
  padding: 5px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  background-color: green;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}

.contact-list {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
  margin: 20px 0px;
}

@media screen and (min-width: 550px) {
  .window {
    padding: 10px;
  }

  #in {
    display: inline-block;
    width: 300px;
  }

  .contact-list {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
  }
}
